





@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");



* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	height: 100vh;

	align-items: center;
	justify-content: center;
	background: #d2d3d3;
    color: #505050;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}



/*navbar*/


.navbar{
    
    overflow:inherit;
    position: relative;
    background-color: white;
    width: 100%;
    height: 7%;
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.10);

}

.navbar-brand{
    
    text-align: center;
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    
}

#title-logo{
    position: absolute;
    margin-top: 18%;
    font-weight:bolder;
    margin-left: 40%;
    display: inline-block;
    color: #ff0a54;
    font-family: "Roboto Mono", monospace;
}

.box_user{
    height: 100%;
    width: 50px;
    float: right;
    margin-right: 80px;
    position: relative;
    /*background-color: red;*/
}

.user_img{
    height: 100%;
    width: 100%;
    position:relative;
    top: 50%;
    left: 50%;
    margin: -21px 0 0 -20px; 
}

.user_img:hover{
  cursor: pointer;
}

.menu{
    z-index: 2;
    float:right;
    position: relative;
    top: 70px;
    left: 72px;
    font-family: "Roboto Mono", monospace;
    background-color: white;
    width:200px;
    padding: 10px 30px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    
}

.profile img{
    overflow: hidden;
    border-radius: 50%;
}

.menu h2::before{
    
    content: "";
    position:absolute;
    top:-5px;
    right: 28px;
    width: 28px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);

    z-index: 1;
}

.menu h2 {
    width: 100%;
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
    justify-content: left;
}


.menu span{
    font-size: 15px;
    font-weight: 400;
    color: #cecece;
}

.menu.active{
    visibility:initial;
    opacity: 1;
}


.menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.menu ul li a{
    text-decoration: none;
    color: #555;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    margin-left: 40px;
}

.menu ul li a:hover{
    text-decoration: none;
    color: #ff0a54;
}


.menu ul li .fa{
    font-size: 15px;
}


























@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #d2d3d3;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.Descr_card{
    text-align: center;
    padding: 18px;
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    font-size: 20px;
}

.container_card{
    margin: 30px;
    height: 60px;
    width: 600px;
    background-color:#e6e6e6;
    margin-top: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

}

.cont{
    margin-top: 50px;

}

.container_card:hover{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.363);
  cursor:pointer
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  float: left;
  position: relative;
  left: 30px;
  margin-bottom: 30px;
}
 
th {
  color:#D5DDE5;;
  background:#8d99a0;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#ff0a54;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#ff0a54;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
