@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");



* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	height: 100vh;

	align-items: center;
	justify-content: center;
	background: #d2d3d3;
    color: #505050;
    position: relative;
    font-family: "Roboto Mono", monospace;
}



/*navbar*/


.navbar{
    
    overflow:inherit;
    position: relative;
    background-color: white;
    width: 100%;
    height: 7%;
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.10);
}

.navbar-brand{
    
    text-align: center;
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    
}

#title-logo{
    position: absolute;
    margin-top: 18%;
    font-weight:bolder;
    margin-left: 40%;
    display: inline-block;
    color: #ff0a54;
    font-family: "Roboto Mono", monospace;
}

.box_user{
    height: 100%;
    width: 50px;
    float: right;
    margin-right: 80px;
    position: relative;
    /*background-color: red;*/
}

.user_img{
    height: 100%;
    width: 100%;
    position:relative;
    top: 50%;
    left: 50%;
    margin: -21px 0 0 -20px; 
}

.user_img:hover{
  cursor: pointer;
}

.menu{
    z-index: 2;
    float:right;
    position: relative;
    top: 70px;
    left: 72px;
    font-family: "Roboto Mono", monospace;
    background-color: white;
    width:200px;
    padding: 10px 30px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    
}

.profile img{
    overflow: hidden;
    border-radius: 50%;
}

.menu h2::before{
    
    content: "";
    position:absolute;
    top:-5px;
    right: 28px;
    width: 28px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);

    z-index: 1;
}

.menu h2 {
    width: 100%;
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
    justify-content: left;
}


.menu span{
    font-size: 15px;
    font-weight: 400;
    color: #cecece;
}

.menu.active{
    visibility:initial;
    opacity: 1;
}


.menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.menu ul li a{
    text-decoration: none;
    color: #555;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    margin-left: 40px;
}

.menu ul li a:hover{
    text-decoration: none;
    color: #ff0a54;
}


.menu ul li .fa{
    font-size: 15px;
}


/*lateral menu*/


.work_area{
position:fixed;
background-color:#d2d3d3 ;
height: 100%;
width: 100%;
padding: 1px 1px;

}

.menu_lateral{
    overflow:auto;      
    float: right;
    height: 93%;
    width: 21%;
    background-color: #fff;
    z-index: 10;
}



.setting_header{
    
    padding: 0 20px 20px 20px;
    display: flexbox;
    justify-content: center;
}

.header_text{
    overflow: hidden;
    padding-bottom: 20px;
    text-align: center;
    margin-top:20px ;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

}

.container_card{
    height: 60px;
    width: 100%;
    background-color:#e6e6e6;
    margin-top: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

}

.container_card:hover{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.363);
  cursor:pointer
}




.Descr_card{
    text-align: center;
    padding: 18px;
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    font-size: 20px;
}


/*zona lavoro*/
.tool_layer_container{
    
    float: right;
    height: 100%;
    width: 79%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    z-index: -5;
   
}

#canvas{
  overflow: hidden;
  position: relative;
    
    
}




@-webkit-keyframes load-color {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes load-color {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @-webkit-keyframes text-change {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  @keyframes text-change {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  @-webkit-keyframes color-change {
    0% {
      background-color: #ff0a54;
    }
    100% {
      background-color: #1de086;
    }
  }
  @keyframes color-change {
    0% {
      background-color: #ff0a54;
    }
    100% {
      background-color: #1de086;
    }
  }
  html, body {
    position: relative;
    width: 100%;
    height: 100%;
    
  }
  
  .button {
    font-family: Tahoma;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 13px 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: translate(-50%, -50%);
    color: transparent;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #ff0a54;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  .button:hover {
    background-color: #ff0a54;
  }
  .button::after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    content: "";
    background-color: #ff0a54;
  }
  
  .button--inner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: none;
  }
  
  .button__text {
    line-height: 40px;
    z-index: 2;
    display: inline-block;
    width: 50%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    color: #fff;
    background: none;
  }
  
  .active .button {
    background-color: #14a6da;
  }
  .active .button::after {
    -webkit-animation: load-color 2s ease-out forwards, color-change 0.3s ease-out 2.1s forwards;
            animation: load-color 2s ease-out forwards, color-change 0.3s ease-out 2.1s forwards;
  }
.active .button--inner {
    -webkit-animation: text-change 0.3s ease-out 2.1s forwards;
            animation: text-change 0.3s ease-out 2.1s forwards;
  }


.tool-canvas{
    height: 60px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.76);
    display: inline-block;
    flex-direction: row;
    position: absolute;
    bottom: 120px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px;
    align-items: center;
   
  }


.button_tool-canvas {
    margin: 1.5% 0 0 2%;
    display: flex;
    align-items: center;

}

.button_tool-canvas button{
    
    background-color: rgba(0, 0, 0, 0);
    color:rgb(163, 163, 163);
    
    margin: 0 50px 0 20px ;
    
}

.button_tool-canvas button:hover{
    
  cursor: pointer;
  color:rgb(77, 76, 76);
  

}

.button_tool-canvas button i{
  position:absolute;
  padding: 5px;

}

.button_tool-canvas button i:hover{
  
  cursor: pointer;
  color:rgb(77, 76, 76);
  border-radius: 20%;
  
  

}

.button_tool-canvas button i:active{
  background-color:#c6cece9c;
}



