@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .nav-activity {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: auto;
    max-width: 90px;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    cursor: pointer;
    transition: 200ms ease-out;
    border-top: none;
  }
  .nav-activity:hover {
    max-width: 250px;
    cursor: pointer;
  }
  .nav-activity svg {
    float: left;
    margin: 10px 20px 10px 10px;
  }
  .nav-activity a .activity-title {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #ffffff;
  }
  .nav-activity a .activity-listings {
    display: block;
    max-width: 100%;
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.8);
  }
  .nav-activity .icon-wrap {
    position: relative;
    float: left;
  }
  .nav-activity svg {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin: 10px;
    margin-right: 20px;
  }
  .nav-activity svg circle {
    fill: none;
  }
  .nav-activity .activity-link, .nav-activity a.activity-link {
    display: block;
    min-width: 200px;
    padding: 5px 10px;
    font-size: 0.9em;
    white-space: nowrap;
    border-top: none;
    background-color: #212429;
    border-color: #212429;
  }
  .nav-activity .activity-link.active, .nav-activity a.activity-link.active {
    background-color: #2077D8;
    border-color: #2077D8;
  }
  .nav-activity .activity-link.active .activity-listings, .nav-activity a.activity-link.active .activity-listings {
    color: white;
  }
  .nav-activity .activity-link.active .svg-fill, .nav-activity .activity-link.active svg circle, .nav-activity a.activity-link.active .svg-fill, .nav-activity a.activity-link.active svg circle {
    fill: #1875DC;
  }
  .nav-activity .activity-link.active .activity-title, .nav-activity a.activity-link.active .activity-title {
    color: #ffffff;
  }
  .nav-activity .activity-link.active:hover .svg-fill, .nav-activity a.activity-link.active:hover .svg-fill {
    fill: #549cec;
  }
  .nav-activity .activity-link:hover, .nav-activity a.activity-link:hover {
    border-color: #2077D8;
    background-color: #3184e0;
  }
  .nav-activity .activity-link .svg-fill, .nav-activity .activity-link .svg-fill *, .nav-activity .activity-link .svg-icon, .nav-activity .activity-link .svg-icon *, .nav-activity a.activity-link .svg-fill, .nav-activity a.activity-link .svg-fill *, .nav-activity a.activity-link .svg-icon, .nav-activity a.activity-link .svg-icon * {
    transition: fill 0.2s;
  }
  .nav-activity .activity-link .svg-fill, .nav-activity .activity-link .svg-fill *, .nav-activity a.activity-link .svg-fill, .nav-activity a.activity-link .svg-fill * {
    fill: #0E5099;
    fill: #F3DF32;
  }
  
  .nav-activity .svg-icon, .nav-activity .svg-icon * {
    fill: #fff;
  }